
body{
background-color:rgb(15, 228, 33) ;
}


 h1{
color:rgb(0, 0, 0) ;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
background:rgba(236, 236, 236, 0.137) ;
text-align: center;
}


p{
color:black ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size:20px ;
background:rgba(0, 0, 7, 0) ;
}

#fds {
    width: 100%;
}

