
body{
background-color:rgb(245, 17, 17) ;
}


 h1{
color:rgb(0, 0, 0) ;
font-family:Verdana, Geneva, Tahoma, sans-serif ;
background:rgb(226, 227, 236) ;
}


p{
color:black ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-size:100 ;
background:rgba(0, 0, 7, 0) ;
}

